:root{
    --teal: teal;
    --white: #ffffff;
}

/* RESET */

img{
    max-width: 100%;
}

body{
    background-color: var(--teal);
}

/* Utilities */

.bg__white{
    background-color: var(--white);
}


.error-name,
.error-km{
    color: red;
}

/* Section .ticket */

@media screen and (min-width: 768px){

    .card-body-img{
        width: 50%;
    }

    .ticket-info{
        width: 50%;
    }

}
